@import "tailwindcss";

@layer utilities {
  .text-preset-1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.6px;
  }

  .text-preset-2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }

  .text-preset-3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
  }
}
