@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

@layer utilities {
  .text-preset-1-inter {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }

  .text-preset-2-inter {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }

  .text-preset-3-inter {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.3px;
  }

  .text-preset-4-inter {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .text-preset-5-inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .text-preset-6-inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .text-preset-1-noto {
    font-family: "Noto Serif", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }

  .text-preset-2-noto {
    font-family: "Noto Serif", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }

  .text-preset-3-noto {
    font-family: "Noto Serif", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.3px;
  }

  .text-preset-4-noto {
    font-family: "Noto Serif", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .text-preset-5-noto {
    font-family: "Noto Serif", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.2px;
  }

  .text-preset-6-noto {
    font-family: "Noto Serif", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -0.2px;
  }
}
